{% extends 'base.html' %} {% block body %} 

<h2 class="mt-4 header-align">{{ the_title }}</h2>
<a href="{{ url_for('entry_page') }}"><input class='btn btn-primary' type="button" value="Back to home" /></a>

<div class="table-responsive">
  <table class="table">
    <tr>
        <!-- <th scope="col">#</th> -->
      {% for row_title in the_row_titles %}
        <th scope="col">{{ row_title }}</th>
      {% endfor %}
    </tr>
  
    {% for log_row in the_data %}
      <tr scope="row">
        {% for item in log_row %}
          <td>{{ item }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
  
</div>


{% endblock %}
